[container] {
    height: 50%;
}

[content] {
    padding: 1.5rem;
}

[sidenav] {
    background-color: #333;
    color: #eee;
    width: 10rem;
}

[list] {
    display: flex;
    flex-direction: column;

    a {
        color: #eee;
        display: flex;
        align-content: center;

        i {
            margin-right: .5rem;
        }
    }

    a:hover {
        color: red;
        background-color: #282828;
    }
}